---
import ContenedorUnoImage from '/src/assets/images/1-pexels-karolina-grabowska-4207909_2.jpg'
import ContenedorDosImage from '/src/assets/images/2-pexels-karolina-grabowska-4207905_2.jpg'
import ContenedorTresImage from '/src/assets/images/3-pexels-elina-sazonova-4555305_2.jpg'

const callouts = [
  {
    name: 'Contenedor Pedagógico #1',
    description:
      'Contextualización y conceptualización de los PRAE en el marco del desarrollo sostenible',
    imageSrc: ContenedorUnoImage,
    imageAlt: 'Contenedor Uno IMG',
    href: '/contenedor_pedagogico/contenedor_1/',
    margin: 'lg:mt-0'
  },
  {
    name: 'Contenedor Pedagógico #2',
    description:
      'Marco político, legal, estratégico y referencial para la dinamización de los PRAE',
    imageSrc: ContenedorDosImage,
    imageAlt: 'Contenedor Dos IMG',
    href: '/contenedor_pedagogico/contenedor_2/',
    margin: 'lg:mt-10'
  },
  {
    name: 'Contenedor Pedagógico #3',
    description: 'Metodología para la revisión, ajuste y/o actualización de los PRAE',
    imageSrc: ContenedorTresImage,
    imageAlt: 'Contenedor Tres IMG',
    href: '/contenedor_pedagogico/contenedor_3/',
    margin: 'lg:mt-20'
  }
]
---

<div class='relative bg-white lg:h-full lg:flex lg:p-5 xl:px-20'>
  <div class='relative py-5 sm:grid sm:grid-cols-2 sm:gap-x-4 lg:grid-cols-3 lg:my-auto'>
    {
      callouts.map((callout) => (
        <a href={callout.href} class="block relative shadow-xl cursor-pointer rounded-2xl mb-10 w-11/12 mx-auto">
          <div class={'group relative h-1/2'}>
            <img
              src={callout.imageSrc.src}
              alt={callout.imageAlt}
              class='w-full block h-80 object-cover rounded-lg group-hover:opacity-50'
              // loading='lazy'
            />
            <div class='h-1/2 p-2'>
              <h3 class='relative p-2 text-left text-2xl font-bold text-blue'>
                {callout.name}
              </h3>
              <p class='relative px-2 my-auto block text-justify text-base font-light text-black'>
                {callout.description}
              </p>
              <button class='mx-auto block rounded border bg-green-400 text-lg px-10 py-4 my-5 text-white'>
                Ver Más
              </button>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>
